body.high-contrast.boards#show{
  background: #000;
  transition: all 0.5s ease; -webkit-transition: all 0.5s ease;

  #content {
    // Completely hide the ajax spinner on the top-left
    #ajax_spinner { display:none !important; opacity:0 !important; }

    // Re-style the navigation bar
    .navbar.navbar-inverse .navbar-inner {
      background-color: #1b1b1b; background-image: linear-gradient(to bottom, #222222, #111111); background-repeat: repeat-x;
      border-color: #252525;
      transition: all 0.5s ease; -webkit-transition: all 0.5s ease;

      .brand a { color:#999999; }

      .nav > li > a {
        color:#999999;
      }
      .nav > li.active > a, .nav > li > a:hover {
        color:#FFFFFF;
      }
    }

    .top_right_pane a, .top_right_pane #tools_menu > span { color:#999999; }
    .top_right_pane a:hover, .top_right_pane #tools_menu > span:hover { color:white; }

    .navbar-search {
      input { background-color:black; color:white; border-color:#505050 !important; }
      .btn { background: #505050; border-color:#505050; }
    }

    // Re-style the board
    table#board {
      th, td {
        background: #000; color: silver; text-shadow: none;
        transition: all 0.5s ease; -webkit-transition: all 0.5s ease;
      }
      td {
        span.add_task a {
          opacity:0.3; border:none;
          transition: all 1s ease; -webkit-transition: all 0.5s ease;
          &:hover { opacity:0.8; }
        }
        ul.task_list li.placeholder { opacity:0.1; }
      }
    }
  }

  // Re-style the expose mask used to cover the board when task is opened
  #exposeMask { background-color:black !important; }

  // Re-style the floating column labels
  .ws_hint_label {color:silver !important; background:black !important; text-shadow:none !important; box-shadow:0 0 10px black; }
}
