/* Rotate */
@-webkit-keyframes rotate{
    0% {-webkit-transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);}
}
@-moz-keyframes rotate{
  0% {-webkit-transform:rotate(0deg);}
  100% {-webkit-transform:rotate(360deg);}
}
@-o-keyframes rotate{
  0% {-webkit-transform:rotate(0deg);}
  100% {-webkit-transform:rotate(360deg);}
}
@keyframes rotate{
  0% {-webkit-transform:rotate(0deg);}
  100% {-webkit-transform:rotate(360deg);}
}

/* Skew */
@-webkit-keyframes skew{
    0% {-webkit-transform: skew(0deg,0deg);}
    50% {-webkit-transform: skew(-15deg,-15deg);}
    100% {-webkit-transform: skew(0deg,0deg);}
}
@-o-keyframes skew{
  0% {-webkit-transform: skew(0deg,0deg);}
  50% {-webkit-transform: skew(-15deg,-15deg);}
  100% {-webkit-transform: skew(0deg,0deg);}
}
@-moz-keyframes skew{
  0% {-webkit-transform: skew(0deg,0deg);}
  50% {-webkit-transform: skew(-15deg,-15deg);}
  100% {-webkit-transform: skew(0deg,0deg);}
}
@keyframes skew{
  0% {-webkit-transform: skew(0deg,0deg);}
  50% {-webkit-transform: skew(-15deg,-15deg);}
  100% {-webkit-transform: skew(0deg,0deg);}
}

/* Shrink */
@-webkit-keyframes shrink{
    0% {-webkit-transform: scale(1,1);}
    50% {-webkit-transform: scale(0.3,0.3);}
    100% {-webkit-transform: scale(1,1);}
}
@-o-keyframes shrink{
  0% {-webkit-transform: scale(1,1);}
  50% {-webkit-transform: scale(0.3,0.3);}
  100% {-webkit-transform: scale(1,1);}
}
@-moz-keyframes shrink{
  0% {-webkit-transform: scale(1,1);}
  50% {-webkit-transform: scale(0.3,0.3);}
  100% {-webkit-transform: scale(1,1);}
}
@keyframes shrink{
  0% {-webkit-transform: scale(1,1);}
  50% {-webkit-transform: scale(0.3,0.3);}
  100% {-webkit-transform: scale(1,1);}
}

/* Flip */
@-webkit-keyframes flip{
    0% {-webkit-transform: scaleX(1);}
    50% {-webkit-transform: scaleX(-1);}
    100% {-webkit-transform: scaleX(1);}
}
@-o-keyframes flip{
  0% {-webkit-transform: scaleX(1);}
  50% {-webkit-transform: scaleX(-1);}
  100% {-webkit-transform: scaleX(1);}
}
@-moz-keyframes flip{
  0% {-webkit-transform: scaleX(1);}
  50% {-webkit-transform: scaleX(-1);}
  100% {-webkit-transform: scaleX(1);}
}
@keyframes flip{
  0% {-webkit-transform: scaleX(1);}
  50% {-webkit-transform: scaleX(-1);}
  100% {-webkit-transform: scaleX(1);}
}

/* Enlarge */
@-webkit-keyframes enlarge{
    0% {-webkit-transform: scale(1,1);}
    50% {-webkit-transform: scale(0.6,1.7);}
    100% {-webkit-transform: scale(1,1);}
}
@-o-keyframes enlarge{
  0% {-webkit-transform: scale(1,1);}
  50% {-webkit-transform: scale(0.6,1.7);}
  100% {-webkit-transform: scale(1,1);}
}
@-moz-keyframes enlarge{
  0% {-webkit-transform: scale(1,1);}
  50% {-webkit-transform: scale(0.6,1.7);}
  100% {-webkit-transform: scale(1,1);}
}
@keyframes enlarge{
  0% {-webkit-transform: scale(1,1);}
  50% {-webkit-transform: scale(0.6,1.7);}
  100% {-webkit-transform: scale(1,1);}
}

/* Fade */
@-webkit-keyframes fade{
    0% {-webkit-transform: scale(1,1); opacity:1}
    50% {-webkit-transform: scale(1.4,1.7); opacity:0.3}
    100% {-webkit-transform: scale(1,1); opacity:1}
}
@-o-keyframes fade{
  0% {-webkit-transform: scale(1,1); opacity:1}
  50% {-webkit-transform: scale(1.4,1.7); opacity:0.3}
  100% {-webkit-transform: scale(1,1); opacity:1}
}
@-moz-keyframes fade{
  0% {-webkit-transform: scale(1,1); opacity:1}
  50% {-webkit-transform: scale(1.4,1.7); opacity:0.3}
  100% {-webkit-transform: scale(1,1); opacity:1}
}
@keyframes fade{
  0% {-webkit-transform: scale(1,1); opacity:1}
  50% {-webkit-transform: scale(1.4,1.7); opacity:0.3}
  100% {-webkit-transform: scale(1,1); opacity:1}
}

/* Glow */
@-webkit-keyframes glow{
    0% {box-shadow:0px 0px 0px #00a6ff}
    50% {box-shadow:3px 3px 8px #00a6ff}
    100% {box-shadow:0px 0px 0px #00a6ff}
}
@-o-keyframes glow{
  0% {box-shadow:0px 0px 0px #00a6ff}
  50% {box-shadow:3px 3px 8px #00a6ff}
  100% {box-shadow:0px 0px 0px #00a6ff}
}
@-moz-keyframes glow{
  0% {box-shadow:0px 0px 0px #00a6ff}
  50% {box-shadow:3px 3px 8px #00a6ff}
  100% {box-shadow:0px 0px 0px #00a6ff}
}
@keyframes glow{
  0% {box-shadow:0px 0px 0px #00a6ff}
  50% {box-shadow:3px 3px 8px #00a6ff}
  100% {box-shadow:0px 0px 0px #00a6ff}
}



/*Webkit animations*/
.green.ui-sortable-helper{-webkit-animation: rotate 1.5s; }
.blue.ui-sortable-helper{-webkit-animation: skew 1.5s; }
.red.ui-sortable-helper{-webkit-animation: shrink 1.5s; }
.orange.ui-sortable-helper{-webkit-animation: flip 1.5s; }
.yellow.ui-sortable-helper{-webkit-animation: enlarge 1.5s; }
.brown.ui-sortable-helper{-webkit-animation: fade 1.5s; }
.white.ui-sortable-helper{-webkit-animation: glow 1.5s; }

/*Firefox animations*/
.green.ui-sortable-helper{-moz-animation: rotate 1.5s; }
.blue.ui-sortable-helper{-moz-animation: skew 1.5s; }
.red.ui-sortable-helper{-moz-animation: shrink 1.5s; }
.orange.ui-sortable-helper{-moz-animation: flip 1.5s; }
.yellow.ui-sortable-helper{-moz-animation: enlarge 1.5s; }
.brown.ui-sortable-helper{-moz-animation: fade 1.5s; }
.white.ui-sortable-helper{-moz-animation: glow 1.5s; }

/*Opera animations*/
.green.ui-sortable-helper{-o-animation: rotate 1.5s; }
.blue.ui-sortable-helper{-o-animation: skew 1.5s; }
.red.ui-sortable-helper{-o-animation: shrink 1.5s; }
.orange.ui-sortable-helper{-o-animation: flip 1.5s; }
.yellow.ui-sortable-helper{-o-animation: enlarge 1.5s; }
.brown.ui-sortable-helper{-o-animation: fade 1.5s; }
.white.ui-sortable-helper{-o-animation: glow 1.5s; }

/*Default animation*/
.green.ui-sortable-helper{animation: rotate 1.5s; }
.blue.ui-sortable-helper{animation: skew 1.5s; }
.red.ui-sortable-helper{animation: shrink 1.5s; }
.orange.ui-sortable-helper{animation: flip 1.5s; }
.yellow.ui-sortable-helper{animation: enlarge 1.5s; }
.brown.ui-sortable-helper{animation: fade 1.5s; }
.white.ui-sortable-helper{animation: glow 1.5s; }